<div class="container">
    <div class="light column">
        <div style="color: var(--sys-primary)">primary</div>
        <div style="color: var(--sys-on-primary)">on-primary</div>
        <div style="color: var(--sys-primary-container)">primary-container</div>
        <div style="color: var(--sys-on-primary-container)">on-primary-container</div>
        <div style="color: var(--sys-primary-fixed)">primary-fixed</div>
        <div style="color: var(--sys-primary-fixed-dim)">primary-fixed-dim</div>
        <div style="color: var(--sys-on-primary-fixed)">on-primary-fixed</div>
        <div style="color: var(--sys-on-primary-fixed-variant)">on-primary-fixed-variant</div>
        <div style="color: var(--sys-secondary)">secondary</div>
        <div style="color: var(--sys-on-secondary)">on-secondary</div>
        <div style="color: var(--sys-secondary-container)">secondary-container</div>
        <div style="color: var(--sys-on-secondary-container)">on-secondary-container</div>
        <div style="color: var(--sys-secondary-fixed)">secondary-fixed</div>
        <div style="color: var(--sys-secondary-fixed-dim)">secondary-fixed-dim</div>
        <div style="color: var(--sys-on-secondary-fixed)">on-secondary-fixed</div>
        <div style="color: var(--sys-on-secondary-fixed-variant)">on-secondary-fixed-variant</div>
        <div style="color: var(--sys-tertiary)">tertiary</div>
        <div style="color: var(--sys-on-tertiary)">on-tertiary</div>
        <div style="color: var(--sys-tertiary-container)">tertiary-container</div>
        <div style="color: var(--sys-on-tertiary-container)">on-tertiary-container</div>
        <div style="color: var(--sys-tertiary-fixed)">tertiary-fixed</div>
        <div style="color: var(--sys-tertiary-fixed-dim)">tertiary-fixed-dim</div>
        <div style="color: var(--sys-on-tertiary-fixed)">on-tertiary-fixed</div>
        <div style="color: var(--sys-on-tertiary-fixed-variant)">on-tertiary-fixed-variant</div>
        <div style="color: var(--sys-error)">error</div>
        <div style="color: var(--sys-on-error)">on-error</div>
        <div style="color: var(--sys-error-container)">error-container</div>
        <div style="color: var(--sys-on-error-container)">on-error-container</div>
        <div style="color: var(--sys-surface-dim)">surface-dim</div>
        <div style="color: var(--sys-surface)">surface</div>
        <div style="color: var(--sys-surface-bright)">surface-bright</div>
        <div style="color: var(--sys-surface-container-lowest)">surface-container-lowest</div>
        <div style="color: var(--sys-surface-container-low)">surface-container-low</div>
        <div style="color: var(--sys-surface-container)">surface-container</div>
        <div style="color: var(--sys-surface-container-high)">surface-container-high</div>
        <div style="color: var(--sys-surface-container-highest)">surface-container-highest</div>
        <div style="color: var(--sys-on-surface)">on-surface</div>
        <div style="color: var(--sys-on-surface-variant)">on-surface-variant</div>
        <div style="color: var(--sys-outline)">outline</div>
        <div style="color: var(--sys-outline-variant)">outline-variant</div>
        <div style="color: var(--sys-inverse-surface)">inverse-surface></div>
        <div style="color: var(--sys-inverse-on-surface)">inverse-on-surface</div>
        <div style="color: var(--sys-inverse-primary)">inverse-primary</div>
        <div style="color: var(--sys-scrim)">scrim</div>
        <div style="color: var(--sys-shadow)">shadow</div>
    </div>
</div>