<div class="container">
    <div class="light column">
        <div class="box primary">primary</div>
        <div class="box on-primary">on-primary</div>
        <div class="box primary-container">primary-container</div>
        <div class="box on-primary-container">on-primary-container</div>
        <div class="box primary-fixed">primary-fixed</div>
        <div class="box primary-fixed-dim">primary-fixed-dim</div>
        <div class="box on-primary-fixed">on-primary-fixed</div>
        <div class="box on-primary-fixed-variant">on-primary-fixed-variant</div>
        <div class="box secondary">secondary</div>
        <div class="box on-secondary">on-secondary</div>
        <div class="box secondary-container">secondary-container</div>
        <div class="box on-secondary-container">on-secondary-container</div>
        <div class="box secondary-fixed">secondary-fixed</div>
        <div class="box secondary-fixed-dim">secondary-fixed-dim</div>
        <div class="box on-secondary-fixed">on-secondary-fixed</div>
        <div class="box on-secondary-fixed-variant">on-secondary-fixed-variant</div>
        <div class="box tertiary">tertiary</div>
        <div class="box on-tertiary">on-tertiary</div>
        <div class="box tertiary-container">tertiary-container</div>
        <div class="box on-tertiary-container">on-tertiary-container</div>
        <div class="box tertiary-fixed">tertiary-fixed</div>
        <div class="box tertiary-fixed-dim">tertiary-fixed-dim</div>
        <div class="box on-tertiary-fixed">on-tertiary-fixed</div>
        <div class="box on-tertiary-fixed-variant">on-tertiary-fixed-variant</div>
        <div class="box error">error</div>
        <div class="box on-error">on-error</div>
        <div class="box error-container">error-container</div>
        <div class="box on-error-container">on-error-container</div>
        <div class="box surface-dim">surface-dim</div>
        <div class="box surface">surface</div>
        <div class="box surface-bright">surface-bright</div>
        <div class="box surface-container-lowest">surface-container-lowest</div>
        <div class="box surface-container-low">surface-container-low</div>
        <div class="box surface-container">surface-container</div>
        <div class="box surface-container-high">surface-container-high</div>
        <div class="box surface-container-highest">surface-container-highest</div>
        <div class="box on-surface">on-surface</div>
        <div class="box on-surface-variant">on-surface-variant</div>
        <div class="box outline">outline</div>
        <div class="box outline-variant">outline-variant</div>
        <div class="box inverse-surface">inverse-surface</div>
        <div class="box inverse-on-surface">inverse-on-surface</div>
        <div class="box inverse-primary">inverse-primary</div>
        <div class="box scrim">scrim</div>
        <div class="box shadow">shadow</div>
    </div>
    <div class="dark column">
        <div class="box primary">primary</div>
        <div class="box on-primary">on-primary</div>
        <div class="box primary-container">primary-container</div>
        <div class="box on-primary-container">on-primary-container</div>
        <div class="box primary-fixed">primary-fixed</div>
        <div class="box primary-fixed-dim">primary-fixed-dim</div>
        <div class="box on-primary-fixed">on-primary-fixed</div>
        <div class="box on-primary-fixed-variant">on-primary-fixed-variant</div>
        <div class="box secondary">secondary</div>
        <div class="box on-secondary">on-secondary</div>
        <div class="box secondary-container">secondary-container</div>
        <div class="box on-secondary-container">on-secondary-container</div>
        <div class="box secondary-fixed">secondary-fixed</div>
        <div class="box secondary-fixed-dim">secondary-fixed-dim</div>
        <div class="box on-secondary-fixed">on-secondary-fixed</div>
        <div class="box on-secondary-fixed-variant">on-secondary-fixed-variant</div>
        <div class="box tertiary">tertiary</div>
        <div class="box on-tertiary">on-tertiary</div>
        <div class="box tertiary-container">tertiary-container</div>
        <div class="box on-tertiary-container">on-tertiary-container</div>
        <div class="box tertiary-fixed">tertiary-fixed</div>
        <div class="box tertiary-fixed-dim">tertiary-fixed-dim</div>
        <div class="box on-tertiary-fixed">on-tertiary-fixed</div>
        <div class="box on-tertiary-fixed-variant">on-tertiary-fixed-variant</div>
        <div class="box error">error</div>
        <div class="box on-error">on-error</div>
        <div class="box error-container">error-container</div>
        <div class="box on-error-container">on-error-container</div>
        <div class="box surface-dim">surface-dim</div>
        <div class="box surface">surface</div>
        <div class="box surface-bright">surface-bright</div>
        <div class="box surface-container-lowest">surface-container-lowest</div>
        <div class="box surface-container-low">surface-container-low</div>
        <div class="box surface-container">surface-container</div>
        <div class="box surface-container-high">surface-container-high</div>
        <div class="box surface-container-highest">surface-container-highest</div>
        <div class="box on-surface">on-surface</div>
        <div class="box on-surface-variant">on-surface-variant</div>
        <div class="box outline">outline</div>
        <div class="box outline-variant">outline-variant</div>
        <div class="box inverse-surface">inverse-surface</div>
        <div class="box inverse-on-surface">inverse-on-surface</div>
        <div class="box inverse-primary">inverse-primary</div>
        <div class="box scrim">scrim</div>
        <div class="box shadow">shadow</div>
    </div>
</div>