.list_item_icon:hover {
    color: var(--sys-error);
    cursor: pointer;
}

.button {
    padding-left: 1em;
}

.list_item_icon {
    padding-right: 1em;
}

.list_container {
    display: flex;
    flex-direction: column;
}

.list_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    padding-left: 1em;
}