<header class="header">
    <button (click)="openCloseSideContent()" class="icon" mat-button>
        <mat-icon>menu</mat-icon>
    </button>
    <div class="right-container">
        @if (showTooltip){
        <mat-icon [matTooltip]="tooltip" class="tertiary-fixed-dim" fontIcon="warning"></mat-icon>
        }
        <div>
            <mat-select [value]="themeService.currentTheme$.value" (selectionChange)="onSelect($event)">
                @for (theme of themes; track theme) {
                <mat-option [value]="theme">{{theme}}</mat-option>
                }
            </mat-select>
        </div>
        <div class="float secondary">The Moongoose Den</div>
    </div>
</header>