<button routerLink="/home" color="primary" (click)="toggleSideContent()" class="link" mat-button>Home</button>
<button routerLink="/kibana" color="accent" (click)="toggleSideContent()" class="link" mat-button>Kibana</button>
<button routerLink="/market-view" color="warn" (click)="toggleSideContent()" class="link" mat-button>Market
    View</button>
<button routerLink="/admin" (click)="toggleSideContent()" class="link" mat-button>Admin</button>
<button routerLink="/verdaccio" (click)="toggleSideContent()" class="link" mat-button>Verdaccio</button>
<button routerLink="/arch-diagram" (click)="toggleSideContent()" class="link" mat-button>Architecture Diagram</button>
<button routerLink="/about-me" (click)="toggleSideContent()" class="link" mat-button>About Me</button>
<button routerLink="/theme-colors" (click)="toggleSideContent()" class="link" mat-button>Theme Colors</button>
<button routerLink="/mp3-tagger" (click)="toggleSideContent()" class="link" mat-button>Mp3 Tagger</button>