.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-content {
    width: 250px;
    min-width: 250px;
    padding: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.drawer-container {
    flex: 1;
    overflow-y: auto;
}

.drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

.header-container {
    flex: 0 1 auto;
}

.main-container {
    flex: 1 1 auto;
}