<h1>Market View</h1>
<div>
    <div>
        <h2>Banks</h2>
    </div>
    <div>

        <app-ticker-multi [tickerList]="banks1"></app-ticker-multi>
    </div>
    <div>
        <app-ticker-multi [tickerList]="banks2"></app-ticker-multi>
    </div>
    <div>
        <app-ticker-multi [tickerList]="banks3"></app-ticker-multi>
    </div>
</div>
<div>
    <div>
        <h2>Meme stocks</h2>
    </div>
    <div>
        <app-ticker-multi [tickerList]="memes"></app-ticker-multi>
    </div>
</div>
<div>
    <div>
        <h2>Crypto</h2>
    </div>
    <div>
        <app-ticker-multi [tickerList]="crypto1"></app-ticker-multi>
    </div>
    <div>
        <app-ticker-multi [tickerList]="crypto2"></app-ticker-multi>
    </div>
</div>
<div>
    <h2>Other</h2>
    <div>
        <app-ticker-multi [tickerList]="other1"></app-ticker-multi>
    </div>
    <div>
        <app-ticker-multi [tickerList]="other2"></app-ticker-multi>
    </div>
</div>