.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-content {
    width: 250px;
    min-width: 250px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #AAFFAA;
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    overflow-y: auto;
}